main {
    padding: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
}


section {
    display: flex;
    flex-direction: column;
    width: 70vw;
    gap: 10px;
}
.contain{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1fr);
    align-items: center;
    justify-content: center;
    height: 100%;
}
@media (max-width: 750px){
    main{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    section{
        width: 100%;
    }
}