.layout{
  width: 100%;
  min-height: 100vh;
  /* background-image: url('https://prod.assets.earlygamecdn.com/images/What_Pokemon_Are_in_Pokemon_Legends_arceus.png?transform=article3x_webp&x=0.5&y=0.5'); */
  background-image: url('https://www.xtrafondos.com/wallpapers/pokemon-unite-8254.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 835px){
  .layout{
    background-image: url('../assets/bg/pxfuel.jpg');
  }
}
